 a {
	 text-decoration: none;
	 color: #4f4f4f;
}

h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 2px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    color: black;
    align-content: center;
    margin-left: -50px;
}
#colorWell{
  height: 50px;
  width: 80px;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: rgb(204, 204, 204);
  resize: none;
}
table{
    margin-top: -600px;
    width: 40%;
    position: relative;
    height: auto;
}
th{
    width: auto;
    padding: 5px;
    margin-left: 0px;
    float:left;
   
}
tr{
    float:center;
    width: auto;
}
td{
    float:center;
    width: auto;
    vertical-align: center;
    margin: 5px;
}
h2{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}



 